.titleDeposito{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.titleMonto{
    display: flex;
    justify-content: center;
    position: relative;
    left: 16rem;
    top: 4rem;
    font-weight: 400;
}

.btnCancelarMonto{
    left: 5rem;    
    top: 3rem;
}

.containerTecladoDeposito{
    width: 55% !important;
    position: relative;
    left: 4rem;
    top: 2rem;
}

.btns{
    width: 85px;
    padding: 10px;

}

.MuiGrid-item{
    padding: 0 !important;
}