.titlesCenter{
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.containerDeposito{
    margin-top: 3rem;
}

.containerExtraccionDeposito{
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}

.btnExtraccionSaldoDeposito{
    width: 200px;
}

.btnConsultarSaldo{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 2rem;
    position: relative;
}

.btnCancelar{
    width: 130px;
    position: relative;
    left: 1.5rem;
    top: 10rem;
}