.containerCancel{
    width: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10rem 10rem 10rem 10rem;
    top: 10rem;
    position: relative;
    border: solid;
}


.titleCancel{
    font-size: 26px;
}